env: "local" # local, dev, prod
postgresql:
  host: db
  port: 5432
  username: postgres
  password: postgres
  database: postgres
http_server:
  address: :8080
  timeout: 4s
  idle_timeout: 60s
  allowed_origins:
    - http://localhost:5173
    - http://localhost:3000
  allow_credentials: true
  allowed_methods:
    - GET
    - POST
    - PATCH
    - PUT
    - DELETE
    - OPTIONS
  allowed_headers:
    - Authorization
    - Content-Type
jwt:
  secret: $3cr3t
  access_token_ttl: 5m
  refresh_token_ttl: 720h
smtp:
  host: smtp.mail.ru
  port: 587
  username: your_email@mail.ru
  password: email_app_password
minio:
  endpoint: localhost:9000
  access_key_id: ROOTUSER
  secret_access_key: MY$3CR3T
  use_ssl: false